log.npz
.ipynb_checkpoints/
build
*.so
scan_simulator_2d.cpp
*.sw*
*.pyc
.vscode/
CATKIN_IGNORE
.DS_Store

# Local test files
localization/test/test_*_local.py

# Data collection outputs
*.csv
charts/
csv_files/
csv_files_old/
synthetic_data/